@import url("./fonts/fonts.css");
body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

header, footer {
  background-color: #444;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  color: #bbb;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.main {
  width: 100%;
}

/* .article {
  border: 1px solid black;
} */

.textH2 {
  font-family: "RubikDirt", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 27px;
  line-height: 29px;
  font-weight: normal;
  text-align: center;
  word-spacing: 3px;
  letter-spacing: 2px;
  color: rgb(60, 168, 175);
  text-shadow: 2px -2px 1px white, 4px -4px 2px lightgray;
}

.textH2:hover {
  text-shadow: 2px -2px 1px rgba(255, 255, 255, 1), 4px -4px 2px rgba(60, 168, 175, 0.9);
}

.textH3 {
  font-family: "SecularOne", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  line-height: 21px;
  font-weight: normal;
  text-align: right;
  word-spacing: 1px;
  letter-spacing: 1px;
  color: rgb(91, 91, 91);
}

.textP {
  font-family: "SecularOne", "Rubik", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  word-spacing: 2px;
  letter-spacing: 1px;
  word-break: break-all;
  color: rgb(0, 17, 75);
}

.textP a {
  text-decoration: none;
  color: rgba(60, 168, 175, 1);
}

.textP a:hover {
  color: rgba(60, 168, 175, 0.6);
}
.textCredits {
  font-family: "SecularOne", "Rubik", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  line-height: 12px;
  text-align: justify;
  word-spacing: 0.1px;
  letter-spacing: 0.1px;
  word-break: break-all;
  color: rgb(0, 17, 75);
}

.textTable {
  font-family: "SecularOne", "Rubik", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: right; 
  border: 1px solid rgb(211, 211, 211);
  color: rgb(0, 17, 75);
}

.textTable td, th {
  border: 1px solid rgb(211, 211, 211);
}

.container {
  background-color: rgb(0, 0, 0);
  padding: 5px;
}
.box {
  /* width: 70px; */
  height: 70px;
  margin: 10px;
}
