@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SecularOne";
  src: url("../fonts/Secular_One/SecularOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RubikDirt";
  src: url("../fonts/Rubik_Dirt/RubikDirt-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
